.btn-group{:role => "group", :style => "margin-left: 50px;"}
  - Category.each_translation do |category|
    %button{:type => "button", :class => "btn btn-default"}#{category}
%p category filter - on client by AngularJS

%h1{:style => "margin: 10px;"} MAIN PAGE
.container
  .row
    .col-md-8
      - @creations.each do |creation|
        .panel.panel-default
          .panel-heading
            %h3{:class => "panel-title"}
              by
              %b= User.where(id: creation.user_id).first.name
          .panel-body
            Title:
            %b= creation.title

    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}Most rated
        .panel-body
          - @most_rated.each do |creation|
            %p
              = creation.title
              - creation.rating.times do
                = image_tag "star.png"

      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}Most recent
        .panel-body
          - @most_recent.each do |creation|
            %p #{creation.title} (#{creation.created_at})


      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}Tag cloud
        .panel-body