.container{"ng-init" => "checkBadgesPending('newbie'); checkBadgesPending('polyglot');"}
  .row
    .col-md-9{:id => "main_creations"}
      = render "/creation/two_columns_creations"

    .col-md-3
      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}= t '.filters_sort_settings'
        .panel-body
          %div{"ng-controller" => "DropdownCtrl"}
            = render partial: "filter_dropdown",
                      locals: {filter: "category",
                                items: Category.translations.map { |c| c.downcase },
                                separated_items: ["all"]}
            = render partial: "filter_dropdown",
                      locals: {filter: "sort",
                                items: %w(most_rated recently_created recently_updated),
                                separated_items: ["any"]}
            = render partial: "filter_dropdown",
                      locals: {filter: "limit",
                                items: %w(four six ten),
                                separated_items: ["no_limit"]}
      %div{"ng-controller" => "TagCloudCtrl", "ng-init" => "strTags = '#{Creation.get_cloudy_tags}'; initTags();"}
        %jqcloud{:words => "words", :height => "300", :colors => ["#158cba"], "auto-resize" => "true"} }
