.container{"ng-controller" => "ImageUploaderCtrl"}
  .row
    .col-md-4.col-sm-4
    .col-md-4.col-sm-4
      .panel.panel-default
        .panel-body
          %h2= t ".sign_up"
          %br
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            %br
            = f.text_field :name, autofocus: true, placeholder: t(".your_name"), class: "form-control"
            %br/
            %input{:type => "file", :class => "form-control", "image-upload-dr" => "uploadFile"}
            %span{:style => "color: gold;", "ng-if" => "status == 0"}
              %i{:class => "fa fa-exclamation-triangle"}
            %span{:style => "color: green;", "ng-if" => "status == 1"}
              %i{:class => "fa fa-check-circle"}
            {{message_new[lang]}}
            = f.text_field :image, "ng-model": "cloud", "hidden": true
            %br/
            %br
            = f.email_field :email, placeholder: t(".email"), class: "form-control"
            %br
            - min_password_text = ""
            - min_password_text = t(".min_pass", length: @minimum_password_length) if @minimum_password_length
            = f.password_field :password, autocomplete: "off", placeholder: t(".pass_text", text: min_password_text), class: "form-control"
            %br
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: t(".password_confirmation"), class: "form-control"
            %br
            .actions
              = f.submit t(".sign_up"), class: "btn btn-default"
          %br
          = render "devise/shared/links"