%h4
  = t ".rating"
  = render partial: "/stars", locals: {number: @average_rating}
- if can? :rate, Creation
  %h4
    = t ".your-rating"
    - @your_rating.times do |i|
      = link_to rate_creation_path(@creation, :new_value => i+1), remote: true do
        %i{:class => "fa fa-star", :style => "color: gold; font-size: x-large;"}
    - (5 - @your_rating).times do |i|
      = link_to rate_creation_path(@creation, :new_value => i+@your_rating+1), remote: true do
        %i{:class => "fa fa-star-o", :style => "color: gold; font-size: x-large;"}
