- [0, 1].each do |column|
  .col-md-6
    - @creations.each_with_index do |creation, i|
      - if i % 2 == column
        .panel.panel-default
          .panel-heading
            %h2{:style => "font-weight: bold;"}
              = link_to creation.title, creation_path(creation)
              %small
                = link_to creation.user.name, user_path(creation.user)
            = render partial: "/stars", locals: {number: Rating.get_average_rating(creation) }
            - if creation.comments.any?
              %span{:class => "pull-right"}
                %i{:class => "fa fa-comments", :style => "color: gray; font-size: large;"}= " #{creation.comments.length}"
            %br/
          .panel-body
            - if !creation.chapters.any?
              %i This creation is empty: it has no chapters. We guess, author will add them later.
            - else
              - creation.chapters.each_with_index do |chapter, j|
                %b= "#{j+1}. "
                = link_to read_path(chapter), target: "_blank" do
                  = chapter.title
                %br/
          .panel-footer
            - if creation.category.present?
              %b= Category.key_for(creation.category).capitalize
            - if not creation.tags.empty?
              %br/
              - creation.tags.each do |tag|
                = tag

            %span{:class => "pull-right"}
              = creation.created_at
            %br/