.container{"ng-controller" => "EditCreationCtrl", "ng-init" => "creation_id = #{@creation.id}; strAllTags = '#{Creation.get_all_tags.to_json}'; strTags = '#{@creation.get_tags.to_json}'; initTags(); receiveChapters(); checkBadgesPending('author');"}
  .row
    .col-md-3
      = form_for(@creation) do |f|
        %h4= t '.creation_title'
        = f.text_field :title, class: "form-control"
        %h4= t '.category'
        = f.select :category, get_translated_categories, {:selected => (@creation.category || 0)}, class: "form-control"
        %h4= t '.tags'
        = f.text_field :tag_list, multiple: true, id: "railsTags", hidden: true
        %tags-input{"ng-model" => "tags"}
          %auto-complete{"source" => "loadTags($query)"}
        %br/
        .actions
          = f.submit t('.save'), class: "btn btn-success", "ng-click": "arrayOfTags($query);"


      %br/
      = link_to creation_path(@creation) do
        %button{:class => "btn btn-default"}= t '.back'

    .col-md-9

      .panel.panel-default
        .panel-heading
          %ul.nav.nav-tabs{"dnd-list" => "chapters", "dnd-inserted" => "updateChapterOrder();"}
            %li{:role => "presentation", "ng-class" => "currentChapterId == chapter.id ? 'active' : '';", "dnd-draggable" => "chapter", "dnd-effect-allowed" => "move", "dnd-moved" => "chapters.splice($index, 1)", "ng-repeat" => "chapter in chapters"}
              %a{"ng-click" => "changeWorkingChapter(chapter.id)"}
                -#%span{:style => "font-size: large; font-weight: bold;"}
                  {{chapter.id}}
                  -#%br/
                .chapter-title-small
                  {{chapter.title}}
            %li.pull-right{:role => "presentation"}
              %a{:href => "#", "ng-click" => "removeChapter()"}
                %i.fa.fa-trash{:style => "color: red;"}
            %li.pull-right{:role => "presentation"}
              %a{:href => "#", "ng-click" => "addNewChapter()"}
                %i.fa.fa-plus{:style => "color: #28b62c;"}
            %br/
        .panel-body
          %input.form-control{:input => "text", "ng-model" => "currentChapterTitle", :style => "margin-bottom: 5px;", :placeholder => "Title"}
          %textarea.form-control{:rows => "17", "ng-model" => "currentChapterText"}
          %i= t '.use_markdown'
          %br/
          %i
            = t '.get_started_markdown'
            %a{:href => "https://help.github.com/articles/basic-writing-and-formatting-syntax/"}= t :here
          %span{:class => "pull-right"}
            %button{:class => "btn btn-success", :style => "margin-top: 5px;", "ng-if" => "currentChapterTitle != titleBeforeEditing || currentChapterText != textBeforeEditing", "ng-click" => "updateChapter()"}
              = t '.update_chapter'