.container{"ng-controller" => "EditCreationCtrl", "ng-init" => "creation_id = #{@creation.id}; receiveChapters();"}
  .row
    .col-md-3
      = form_for(@creation) do |f|
        = f.text_field :title, class: "form-control"
        %br
        = f.text_field :category, class: "form-control"

        %br
        .actions
          = f.submit "Save", class: "btn btn-success"

    .col-md-9
      .panel.panel-default
        .panel-heading
          %ul{:class => "nav nav-tabs"}
            %li{"ng-repeat" => "chapter in chapters", :role => "presentation"}
              %a{:href => "#"}
                .panel.panel-primary
                  .panel-heading
                    {{chapter.title}}
            %li{:role => "presentation"}
              %a{:href => "#", "ng-click" => "addNewChapter()"}
                .panel.panel-success
                  .panel-heading
                    +
            %br/
        .panel-body
          {{currentChapterMarkdown}}