.container{"ng-controller" => "EditCreationCtrl", "ng-init" => "creation_id = #{@creation.id}; strAllTags = '#{Creation.get_all_tags.to_json}'; strTags = '#{@creation.get_tags.to_json}'; initTags(); receiveChapters(); checkBadgesPending('author');"}
  .label.label-info.left-label{"ng-click" => "settingsVisible = (settingsVisible ? false : true)"}
    %span{"ng-if" => "settingsVisible == true"}
      .fa.fa-arrow-left.fa-2x
      %small
        %br/
        Hide
    %span{"ng-if" => "settingsVisible == false"}
      .fa.fa-arrow-right.fa-2x
      %small
        %br/
        Show

  = link_to creation_path(@creation) do
    .label.label-danger.left-label.back-creation
      .fa.fa-times.fa-2x
      %br/
      Back

  .row
    .col-md-3{"ng-if" => "settingsVisible"}
      = form_for(@creation) do |f|
        %h4= t '.creation_title'
        = f.text_field :title, class: "form-control"
        %h4= t '.category'
        = f.select :category, get_translated_categories, {:selected => (@creation.category || 0)}, class: "form-control"
        %h4= t '.tags'
        = f.text_field :tag_list, multiple: true, id: "railsTags", hidden: true
        %tags-input{"ng-model" => "tags"}
          %auto-complete{"source" => "loadTags($query)"}
        %br/
        .actions
          = f.submit t('.save'), class: "btn btn-success", "ng-click": "arrayOfTags($query);"


      %div{:style => "text-align: center; margin-top: 30px;", "ng-if" => "trashVisible"}
        %ul{"dnd-list" => "[]", "dnd-drop" => "removeChapter()", :style => "list-style-type: none;"}
          %li
            .fa.fa-trash.fa-5x
            %br/
            Drop chapter to remove
          %li.dndPlaceholder{:style => "display: none;"}


    %div{"ng-class" => "settingsVisible ? 'col-md-9' : 'col-md-12'"}
      .panel.panel-default
        .panel-heading
          %ul.nav.nav-tabs{"dnd-list" => "chapters", "dnd-inserted" => "updateChapterOrder();"}
            %li{:role => "presentation", "ng-class" => "currentChapterId == chapter.id ? 'active' : '';",
                "dnd-draggable" => "chapter", "dnd-effect-allowed" => "move",
                "dnd-moved" => "chapters.splice($index, 1)", "ng-repeat" => "chapter in chapters",
                "dnd-dragstart" => "showTrash(chapter.id)", "dnd-dragend" => "hideTrash()"}
              %a{"ng-click" => "chooseChapter(chapter.id)"}
                -#%span{:style => "font-size: large; font-weight: bold;"}
                  {{chapter.id}}
                  %br/
                .chapter-title-small
                  {{chapter.title}}
            %li.dndPlaceholder{:role => "presentation"}
              %a{:href => "#"}
                -#%span{:style => "font-size: large; font-weight: bold;"}
                  PH
                  %br/
                .chapter-title-small{:style => "font-weight: bold;"}
                  place me here!
            %li.pull-right.trash{:role => "presentation", "ng-if" => "currentChapterId != 0"}
              %a{:href => "#", "ng-click" => "removeChapter()"}
                %i.fa.fa-trash{:style => "color: red; font-size: large;"}
            %li.pull-right{:role => "presentation"}
              %a{:href => "#", "ng-click" => "addNewChapter()"}
                %i.fa.fa-plus-square{:style => "color: #28b62c; font-size: large;"}

        .panel-body{"ng-if" => "currentChapterId != 0"}
          %div.form-horizontal
            .form-group
              .col-sm-9
                %input.form-control{:input => "text", "ng-model" => "$parent.currentChapterTitle", :style => "margin-bottom: 5px;", :placeholder => "Title"}
              .col-sm-3
                .btn.btn-success.form-control{"ng-if" => "currentChapterTitle != titleBeforeEditing || currentChapterText != textBeforeEditing", "ng-click" => "updateChapter()"}
                  = t ".update_chapter"
          %textarea.form-control{"ui-tinymce" => "", "ng-model" => "$parent.currentChapterText", "rows" => "10"}
