.container{"ng-controller" => "CommentsCtrl", "ng-init" => "creation_id = #{@creation.id}; new_comment = ''; sendComment(false);"}
  .row
    .col-md-4
      .page-header
        %h1= @creation.title
      %h4
        Rating:
        = render partial: "/stars", locals: {number: @average_rating}
      %h4
        Your rating:
        = render partial: "/stars", locals: {number: @your_rating}
      %br
      %br
      - if can?(:read, @creation) && @chapters.any?
        = link_to read_creation_path(@creation), target: "_blank" do
          = button_tag("Read", :type => "button", :class => "btn btn-primary")
      - if can? :edit, @creation
        = link_to edit_creation_url(@creation) do
          = button_tag("Edit", :type => "button", :class => "btn btn-primary")
      - if can? :destroy, @creation
        = link_to creation_url(@creation), method: :delete, data: {confirm: "Are you sure? This cannot be undone" } do
          = button_tag("Remove", :type => "button", :class => "btn btn-danger")
      %br/
      %br/
      %h4
        Categories:
        = @creation.category
      %h4
        Created at:
        = @creation.created_at
      %h4
        Last modified at:
        = @creation.updated_at
      %br/
      .panel.panel-primary
        .panel-heading
          About author:
        .panel-body
          %h3= @author.name

    .col-md-8
      %h4 Chapters overview:
      %ul{:class => "nav nav-tabs"}
        - @chapters.each do |chapter|
          %li{:role => "presentation"}
            %a{:href => "#"}= chapter.title
      %br/
      .panel{:style => "height: 200px;"}
        ololo

      %h4 Opinions:
      %div{"ng-repeat" => "comment in comments"}
        .panel.panel-primary
          .panel-heading
            {{comment.user_id}} wrote at {{comment.created_at}} :
          .panel-body
            %h4 {{comment.text}}
            %a{"ng-if" => "comment.user_id == currentUserId", "ng-click" => "removeComment(comment.id)"}
              %h6 remove

      - if can? :create, Comment
        %h4 You may leave your own opinion:
        %textarea{placeholder: "Your comment", class: "form-control", "ng-model": "new_comment"}
        %button{class: "btn btn-primary", style: "margin: 10px;", "ng-click": "sendComment(true)"}Post
