.container
  .row
    .col-md-4
      .page-header
        %h1= @creation.title
      %div{:id => "rating-block"}
        = render "rating_block"
      %br
      %br
      - if can?(:read, @creation) && @creation.chapters.any?
        = link_to read_path(@creation.chapters.first), target: "_blank" do
          = button_tag("Read", :type => "button", :class => "btn btn-primary")
      - if can? :edit, @creation
        = link_to edit_creation_url(@creation) do
          = button_tag("Edit", :type => "button", :class => "btn btn-primary")
      - if can? :destroy, @creation
        = link_to creation_url(@creation), method: :delete, data: {confirm: "Are you sure? This cannot be undone" } do
          = button_tag("Remove", :type => "button", :class => "btn btn-danger")
      %br/
      %br/
      - if @creation.category
        %h4
          Category:
          %b= Category.key_for(@creation.category).capitalize
      - if not @creation.tags.empty?
        %h4
          Tags:
          - @creation.tags.each do |tag|
            = tag
      %h4
        Created at:
        = @creation.created_at
      %h4
        Last modified at:
        = @creation.updated_at
      %br/
      .panel.panel-primary
        .panel-heading
          About author:
        .panel-body
          = image_tag @creation.user.image, height: 130, style: "margin-right: 15px; float: left;"
          %h3= link_to @creation.user.name, user_path(@creation.user)

    .col-md-8
      - if @creation.chapters.any?
        %h2{:style => "color: gray;"} Chapters overview:
        - @creation.chapters.each_with_index do |chapter, i|
          %h4
            %b= "#{i+1}."
            = link_to read_path(chapter), target: "_blank" do
              = chapter.title
            %span{:class => "pull-right", :style => "color: lightgray;"}
              %i= "modified: #{chapter.updated_at}"
      - else
        %h2{:style => "color: gray;"} This creation has no chapters yet.
      %br/
      %br/
      %div{:id => "comments"}
        = render "comment/comments"
