.container
  .row
    .col-md-3
      %h2= @creation.title
      - @creation.rating.times do
        %i{:class => "fa fa-star", :style => "color: gold"}
      %p
        Categories:
        = @creation.category
      %p
        Created at:
        = @creation.created_at
      %p
        Last modified at:
        = @creation.updated_at
      .panel.panel-default
        .panel-heading
          About author
        .panel-body
          lol lol something about author

    .col-md-9

      .btn-group{:role => "group"}
        - @chapters.each do |chapter|
          %button{:type => "button", :class => "btn btn-default"}= chapter.title
      %br
      %br
      .panel.panel-default
        .panel-body
          text here