.container
  .row
    .col-md-3
      = image_tag "example-profile-image.jpg", width: "100%", class: "profile-image"
      %h2
        = @user.name
        - if user_signed_in? && @user.id == current_user.id
          %small (you)
      - if can? :edit, @user
        %h5
          email: #{@user.email}
      %hr
      %ul{:class => "nav nav-pills nav-stacked"}
        %li{:role => "presentation", :class => "active"}
          %a{:href => "#"}Creations
        %li{:role => "presentation"}
          %a{:href => "#"}
            Badges
            %span{:class => "badge"}42

    .col-md-9
      .col-md-6
        - @user_creations.each_with_index do |creation, i|
          - if i.even?

            .panel.panel-default
              .panel-heading
                %h3{:class => "panel-title"}
                  %b= creation.title
                  - creation.rating.times do
                    %i{:class => "fa fa-star", :style => "color: gold"}
              .panel-body
                -# Category: #{creation.group}
                %br/
                OVERVIEW, CHAPTERS
                %br/
                = link_to "more", "/creation/#{creation.id}"

      .col-md-6
        - @user_creations.each_with_index do |creation, i|
          - unless i.even?

            .panel.panel-default
              .panel-heading
                %h3{:class => "panel-title"}
                  %b= creation.title
                  - creation.rating.times do
                    %i{:class => "fa fa-star", :style => "color: gold"}
              .panel-body
                -# Category: #{creation.group}
                %br/
                OVERVIEW, CHAPTERS
                %br/
                = link_to "more", "/creation/#{creation.id}"