.container
  .row
    .col-md-3
      = image_tag "default_user_image.png", width: "100%", class: "profile-image"
      %h2
        = @user.name
        - if user_signed_in? && @user.id == current_user.id
          %small (you)
      - if can? :edit, @user
        %h5
          email: #{@user.email}
      %hr
      %ul{:class => "nav nav-pills nav-stacked"}
        %li{:role => "presentation", :class => "active"}
          %a{:href => "#"}Creations
        %li{:role => "presentation"}
          %a{:href => "#"}
            Badges
            %span{:class => "badge"}42
        - if can? :edit, @user
          %li{:role => "presentation"}
            = link_to edit_user_registration_path do
              Account Settings

    .col-md-9
      = render "/creation/two_columns_creations"