.container{"ng-controller" => "UserCtrl"}
  .row
    .col-md-3
      = image_tag @user.image, width: "100%", class: "profile-image"
      %h2
        = @user.name
        - if user_signed_in? && @user.id == current_user.id
          %small (you)
      - if can? :edit, @user
        %h5
          email: #{@user.email}
      %hr
      %ul{:class => "nav nav-pills nav-stacked"}
        %li{:role => "presentation", "ng-class" => "creationsClass"}
          %a{:href => "#", "ng-click" => "mode = 'creations'; switchMode();"}
            Creations
        %li{:role => "presentation", "ng-class" => "badgesClass"}
          %a{:href => "#", "ng-click" => "mode = 'badges'; switchMode();"}
            Badges
            %span{:class => "badge"}= @badges.length
        - if can? :edit, @user
          %li{:role => "presentation"}
            = link_to edit_user_registration_path do
              %i.fa.fa-cogs
              Account Settings

    .col-md-9
      %div{"ng-if" => "mode == 'creations'"}
        = render "/creation/two_columns_creations"
      %div{"ng-if" => "mode == 'badges'"}
        = render "badges"