.container{"ng-class" => "pageWidth", "ng-init" => "creation = #{@creation.id}; chapter = #{@chapter.id}; initSettings();"}

  .panel.panel-default
    .panel-body
      .h1.current-chapter= "##{@chapter.position} #{@chapter.title}"
      - if not @prev_chapter.nil?
        = link_to read_path(@prev_chapter) do
          %h4
            .fa.fa-arrow-left
            = @prev_chapter.title
      - if not @next_chapter.nil?
        = link_to read_path(@next_chapter) do
          %h4
            .fa.fa-arrow-right
            = @next_chapter.title
  %br/

  %div{"ng-class" => "textSize"}
    = raw @chapter.text

  %br/