!!! 5
%html{"ng-app" => "CreationsHub", "ng-controller" => "LocalDataCtrl"}
  %head
    %title Creations Hub
    = stylesheet_link_tag_ng.html_safe
    = stylesheet_link_tag     'application', media: 'all'
    = javascript_include_tag  'application'
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags

  %body{"ng-controller" => "BadgeCtrl", "ng-init" => "currentUserId = #{current_user.id if user_signed_in?};"}
    %nav{:class => "navbar navbar-default", "ng-controller" => "NavBarCtrl"}
      .container-fluid
        -#  Brand and toggle get grouped for better mobile display
        .navbar-header
          .button{:type => "button",
                  :class => "navbar-toggle collaped",
                  "data-toggle" => "collapse",
                  "data-target" => "#bs-example-navbar-collapse-1",
                  "aria-expanded" => "false",
                  "ng-click" => "isCollapsed = !isCollapsed"}
            %span{:class => "sr-only"}Toggle navigation
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
          = link_to root_path, class: "navbar-brand" do
            %span{:class => "logo-text"} Creations Hub

        -# Collect the nav links, forms, and other content for toggling
        %div{:class => "collapse navbar-collapse",
              :id => "bs-example-navbar-collapse-1",
              "uib-collapse" => "isCollapsed"}
          %ul{:class => "nav navbar-nav"}
          %form{:class => "navbar-form navbar-left"}
            - if can? :new, Creation
              = link_to new_creation_path do
                %button{:type => "button", :class => "btn btn-success"}= t '.create'
            - if can? :manage, :all
              = link_to admin_root_path do
                %button{:type => "button", :class => "btn btn-success"}= t '.admin_panel'
          %form{:class => "navbar-form navbar-left", :role => "search"}
            .form-group
              %input{:type => "text", :class => "form-control", :placeholder => "Search"}
            %button{:type => "submit", :class => "btn btn-default"}= t '.search'

          %ul{:class => "nav navbar-nav navbar-right", :style => "font-weight: bold;"}

            %li{"uib-dropdown" => ""}
              %a{:href => "", :id => "lang-dropdown", "uib-dropdown-toggle" => ""}
                %i.fa.fa-language{:style => "font-size: x-large;"}
              %ul{"uib-dropdown-menu" => "", "aria-labelledby" => "lang-dropdown"}
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('be');"}
                    Беларуская
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('en');"}
                    English
            %li
              %a{:href => "#", :title => t('.switch_theme')}
                %i.fa.fa-circle{:style => "font-size: x-large;", "ng-click" => "switchStyle();"}
            - if user_signed_in?
              %li
                = link_to "#{current_user.name || current_user.email}", user_path(current_user)
              %li
                = link_to(t('.sign_out'), destroy_user_session_url, method: :delete)
            -else
              %li
                %a{:href => "/login"}= t '.sign_in'

    - if flash[:notice]
      .alert.alert-info{:role => "alert", :style => " margin: 10px;"}=notice
    - if flash[:alert]
      .alert.alert-danger{:role => "alert", :style => " margin: 0 auto; width: 70%;"}=alert

    %div
      %script{:id => "badge_modal", :type => "text/ng-template"}
        %div{:style => "text-align: center;"}
          %h1= t '.new_badge'
          %img{:src => "http://res.cloudinary.com/dhgy4yket/image/upload/v1459351257/badges/{{newBadge.title}}.png", width: "200px"}
          %h3 {{newBadge.title}}
          %h4 level {{newBadge.level}}
          %h5 {{newBadge.description}}
          %button.btn.btn-warning{:type => "button", :style => "margin-bottom: 10px;", "ng-click" => "cancel()"}= t '.great_badge'

    = yield