!!! 5
%html{"ng-app" => "CreationsHub", "ng-controller" => "LocalDataCtrl"}
  %head
    %title Reading
    = stylesheet_link_tag_ng.html_safe
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags

  %body{"ng-controller" => "ReadCtrl"}
    %nav.navbar.navbar-default{"ng-controller" => "NavBarCtrl"}
      .container-fluid
        -#  Brand and toggle get grouped for better mobile display
        .navbar-header
          .button{:type => "button",
                  :class => "navbar-toggle collaped",
                  "data-toggle" => "collapse",
                  "data-target" => "#bs-example-navbar-collapse-1",
                  "aria-expanded" => "false",
                  "ng-click" => "isCollapsed = !isCollapsed"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to creation_path(@creation), class: "navbar-brand" do
            %span{:class => "logo-text"}= @creation.title

        -# Collect the nav links, forms, and other content for toggling
        %div{:class => "collapse navbar-collapse",
              :id => "bs-example-navbar-collapse-1",
              "uib-collapse" => "isCollapsed"}
          %ul.navbar{:class => "nav navbar-nav"}



          %ul{:class => "nav navbar-nav navbar-right", :style => "font-weight: bold;"}

            %li
              %a{:style => "font-size: ;", :href => "", "ng-click" => "resize('small')"} A
            %li
              %a{:style => "font-size: large;", :href => "", "ng-click" => "resize('medium')"} A
            %li
              %a{:style => "font-size: x-large;", :href => "", "ng-click" => "resize('large')"} A

            %li
              %a{:style => "font-size: ;", :href => "", "ng-click" => "changeWidth('50')"} 50%
            %li
              %a{:style => "font-size: large;", :href => "", "ng-click" => "changeWidth('80')"} 80%
            %li
              %a{:style => "font-size: x-large;", :href => "", "ng-click" => "changeWidth('100')"} 100%

            %li
              %a{:href => "", :style => "width: 100px;"}


            %li{"uib-dropdown" => ""}
              %a{:href => "", :id => "lang-dropdown", "uib-dropdown-toggle" => "", :style => "font-size: large;"}
                {{lang}}
              %ul{"uib-dropdown-menu" => "", "aria-labelledby" => "lang-dropdown"}
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('be');"}
                    Беларуская
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('en');"}
                    English
            %li
              %a{:href => "#", :title => t('.switch_theme')}
                %i.fa.fa-circle{:style => "font-size: x-large;", "ng-click" => "switchStyle();"}

    = yield