!!! 5
%html{"ng-app" => "CreationsHub", "ng-controller" => "LocalDataCtrl"}
  %head
    %title Reading
    = stylesheet_link_tag_ng.html_safe
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags

  %body{"ng-app" => "CreationsHub"}
    %nav{:class => "navbar navbar-default", "ng-controller" => "NavBarCtrl"}
      .container-fluid
        -#  Brand and toggle get grouped for better mobile display
        .navbar-header
          .button{:type => "button",
                  :class => "navbar-toggle collaped",
                  "data-toggle" => "collapse",
                  "data-target" => "#bs-example-navbar-collapse-1",
                  "aria-expanded" => "false",
                  "ng-click" => "isCollapsed = !isCollapsed"}
            %span{:class => "sr-only"}Toggle navigation
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
          %a{:class => "navbar-brand", :href => "#"}
            %span{:class => "logo-text"}= @chapter.title

        -# Collect the nav links, forms, and other content for toggling
        %div{:class => "collapse navbar-collapse",
              :id => "bs-example-navbar-collapse-1",
              "uib-collapse" => "isCollapsed"}
          %ul{:class => "nav navbar-nav"}
          %form{:class => "navbar-form navbar-left"}
            %a{:href => "#"}
              %button{:type => "button", :class => "btn btn-warning"}Text size
            %a{:href => "#"}
              %button{:type => "button", :class => "btn btn-warning"}Text width
            %a{:href => "#"}
              %button{:type => "button", :class => "btn btn-warning"}Next chapter

          %ul{:class => "nav navbar-nav navbar-right", :style => "font-weight: bold;"}

            %li{"uib-dropdown" => ""}
              %a{:href => "", :id => "lang-dropdown", "uib-dropdown-toggle" => "", :style => "font-size: large;"}
                {{lang}}
              %ul{"uib-dropdown-menu" => "", "aria-labelledby" => "lang-dropdown"}
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('be');"}
                    Беларуская
                %li{:role => "menuitem"}
                  %a{"ng-href" => "", "ng-click" => "switchLanguage('en');"}
                    English
            %li
              %a{:href => "#", :title => t('.switch_theme')}
                %i.fa.fa-circle{:style => "font-size: x-large;", "ng-click" => "switchStyle();"}

    = yield